
    <div class="modal-header bg-primary text-white">    
        <h6>Miembros Dependientes de la Familia</h6>     
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="padding:0">  
        <div class="alert alert-danger col-sm" role="alert" *ngIf="error">                                
            {{error}}
        </div>
        <app-person *ngIf="person" [person]="person" [activeFormGroup]="familyFormGroup"  (savePerson)="savePerson($event)" (cancelPerson)="activeModal.close($event)" activeFamilyForm="true" [disabled]=" busy != null ? !busy.closed : false"></app-person>    
    </div> 

  