
<div class="row">
    <div class="col-sm">
      <h6>DATOS DE LA CORTE ELECTORAL</h6>      
        <table class="table table-bordered table-sm">
            <thead class="thead-inverse">
              <tr>              
                <th><small>Nombres</small></th>
                <th><small>Paterno</small></th>
                <th><small>Materno</small></th>
                <th><small>Num. Documento</small></th>
              </tr>
            </thead>
            <tbody>
              <tr>              
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>4546</td>
              </tr>            
            </tbody>
        </table>      
  </div>
</div>
<div class="row">
    <div class="col-sm">        
        <h6>DATOS DE PROYECTOS PVS</h6>
        <table class="table table-bordered table-sm">
            <thead class="thead-inverse">
              <tr>              
                <th><small>Tipo</small></th>
                <th><small>Nombres</small></th>
                <th><small>Paterno</small></th>
                <th><small>Materno</small></th>
                <th><small>Num. Documento</small></th>
                <th><small>Código Proyecto</small></th>
                <th><small>Nombre Proyecto</small></th>
                <th><small>Situación</small></th>
              </tr>
            </thead>
            <tbody>
              <tr>              
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>4546</td>
              </tr>            
            </tbody>
        </table>      
    </div>
 </div>
 <br>
 <div class="row">
    <div class="col-sm">        
        <h6>DATOS DE PROYECTOS DE TITULACION</h6>            
        <table class="table table-bordered table-sm">
            <thead class="thead-inverse">
              <tr>                            
                <th><small>Nombres</small></th>
                <th><small>Paterno</small></th>
                <th><small>Materno</small></th>
                <th><small>Num. Documento</small></th>              
                <th><small>Nombre Proyecto</small></th>
                <th><small>Departamento</small></th>
              </tr>
            </thead>
            <tbody>
              <tr>              
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>4546</td>
              </tr>            
            </tbody>
        </table>          
    </div>
 </div>
 <br>
 <div class="row">
    <div class="col-sm">        
        <h6>DATOS DE PROYECTOS DE 3X1000</h6>          
        <table class="table table-bordered table-sm">
            <thead class="thead-inverse">
              <tr>                            
                <th><small>Nombres</small></th>
                <th><small>Paterno</small></th>
                <th><small>Materno</small></th>
                <th><small>Num. Documento</small></th>              
                <th><small>Nombre Proyecto</small></th>
                <th><small>Departamento</small></th>
                <th><small>Estado</small></th>
              </tr>
            </thead>
            <tbody>
              <tr>              
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>4546</td>
              </tr>            
            </tbody>
        </table>                
    </div>
 </div>
 <br>
 <div class="row">
    <div class="col-sm">                    
          <h6>DATOS DE PROYECTOS AEVIVIENDA</h6>
          <table class="table table-bordered table-sm">
              <thead class="thead-inverse">
                <tr>                            
                  <th><small>Tipo</small></th>
                  <th><small>Nombres</small></th>
                  <th><small>Paterno</small></th>
                  <th><small>Materno</small></th>
                  <th><small>Num. Documento</small></th>              
                  <th><small>Estado</small></th>
                  <th><small>Nombre Proyecto</small></th>
                  <th><small>Departamento</small></th>
                  <th><small>Estado</small></th>
                </tr>
              </thead>
              <tbody>
                <tr>              
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>4546</td>
                </tr>            
              </tbody>
          </table>        
    </div>
 </div>