
    <nav *ngIf="user" class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary">
            <a class="navbar-brand" href="#">SIGES</a>         
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item" *ngIf="isAcceses(11)">
                    <a class="nav-link" [routerLink]="['project']"  routerLinkActive="active">Registros <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" *ngIf="isAcceses(6)">
                    <a class="nav-link" [routerLink]="['report']"  routerLinkActive="active">Reportes</a>                    
                </li>
                <li class="nav-item" *ngIf="isAcceses(7)">
                    <a class="nav-link" [routerLink]="['search']"  routerLinkActive="active">Busqueda</a>                    
                </li>               
                <li class="nav-item" *ngIf="isAcceses(8)">
                    <a class="nav-link" [routerLink]="['management']"  routerLinkActive="active">Gestión</a>                    
                </li>
                <li class="nav-item" *ngIf="isAcceses(9)">
                    <a class="nav-link" [routerLink]="['geo']"  routerLinkActive="active"> SSP</a>                
                </li>
                <li class="nav-item" *ngIf="isAcceses(15)">
                    <a class="nav-link" [routerLink]="['maps']"  routerLinkActive="active"> GEOVISOR</a>
                </li>
            </ul>
            <ul class="navbar-nav float-right">
                <li class="nav-item" *ngIf="!showBtnPass">
                    <button class="nav-link btn btn-sm btn-primary text-white" (click)="showBtnPass = !showBtnPass"><small>Contraseña</small></button>
                </li>
                <li class="nav-item form-group animate-zoom" *ngIf="showBtnPass">                         
                    <input [(ngModel)]="change.curr" type="text" placeholder="Contraseña Actual" class="form-control form-control-sm">
                    <input [(ngModel)]="change.newpass" type="text" placeholder="Nueva Contraseña" class="form-control form-control-sm">
                    <input [(ngModel)]="change.repeatpass" type="text" placeholder="Repita Contraseña" class="form-control form-control-sm">                    
                    <div class="row">
                        <button class="nav-link btn btn-sm btn-info text-white" (click)="changePass()"><small>Cambiar</small></button>
                        <button class="nav-link btn btn-sm btn-danger text-white" (click)="showBtnPass = !showBtnPass"><small>Cancelar</small></button>                    
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning"> <small>Bienvenido: {{user?.username }}</small></a>
                </li>               
                <li class="nav-item">
                    <button class="nav-link btn btn-sm btn-warning text-white" (click)="logout()">웃 <small>Salir</small></button>
                </li>
            </ul>                            
    </nav>
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>

